{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "modules": true
    },
    "sourceType": "module"
  },
  "settings": {
    "node": {
      "paths": ["src"]
    }
  },
  "rules": {}
}
